@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cat Haven One<br />
    Redmond, WA 98052-6399<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gatos.com">Support@gatos.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gatos.com">Marketing@gatos.com</a>
</address>