@{
    ViewBag.Title = "Gatos";
}

<div class="jumbotron">
    <h1>Los Gatos</h1>
    <p class="lead">Gatos is a world-leading provider of cat images, stolen relentlessly on a daily basis from various web properties.</p>
    <p><a href="https://en.wikipedia.org/wiki/Cat" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Felis Catus</h2>
        <p>
            The domestic cat (Latin: Felis catus) is a small, typically furry, carnivorous mammal.
            They are often called house cats when kept as indoor pets or simply cats when there is no need to distinguish them from other felids and felines.
            Cats are often valued by humans for companionship and for their ability to hunt vermin.
            There are more than 70 cat breeds, though different associations proclaim different numbers according to their standards.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Cat">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More About Cats</h2>
        <p>You can learn more about cats by taking one of our online training courses. They are only $150 per person per day.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consulting</h2>
        <p>We offer face-to-face consulting on bringing cats into your life. Pricing is personalized for your needs.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>